form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 228, 196, 0.5);
}

form label:nth-of-type(2) {
    margin-top: 10px;
}

button#send {
    cursor: pointer;
    width: 100px;
    align-self: center;
    margin-top: 10px;
}