form {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 40vw;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(54, 54, 54, 0.9);
}

form label:nth-of-type(2) {
    margin-top: 10px;
}

form input {
    margin-top: 5px;
}

button#send {
    color: #ffffff;
    cursor: pointer;
    width: 100px;
    font-size: 1em;
    align-self: center;
    margin-top: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: teal;
    transition: all ease 300ms;
}

button#send:hover {
    background-color: rgb(1, 102, 102);
    transform: scale(1.2);
    transition: transform ease 300ms;
}

button#send:active {
    transform: scale(1);
    transition: transform ease 300ms;
}





@media screen and (max-width: 1000px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 70vw;
    }
  }