form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
}

form label:nth-of-type(2) {
    margin-top: 10px;
}

button#send {
    cursor: pointer;
    width: 100px;
    font-size: 1em;
    align-self: center;
    margin-top: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: teal;
    transition: all ease 300ms;
}

button#send:hover {
    background-color: rgb(0, 73, 73);
    color: rgb(226, 226, 226);
    transform: scale(1.2);
    transition: transform ease 300ms;
}

button#send:active {
    transform: scale(1);
    transition: transform ease 300ms;
}