.list {
    display: flex;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 50%;
    margin: 5px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
.list > ul {
    list-style-type: square;
  }
  
.list ul.tab {
    margin: 5px;
    list-style-type: none;
}

.list ul.tab li:last-of-type {
    padding-left: 25px;
}