.list {
    color: #ffffff;
    display: flex;
    background-color: rgba(54, 54, 54, 0.9);
    border-radius: 10px;
    width: 30vw;
    padding: 5px;
    margin: 5px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
.list > ul {
    list-style-type: square;
  }
  
.list ul.tab {
    margin: 5px;
    list-style-type: none;
}

.list ul.tab li:last-of-type {
    padding-left: 25px;
}



@media screen and (max-width: 1000px) {
  .list {
      width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .list {
      width: 70vw;
  }
}