.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  color: teal;
  font-size: 3em;
  text-shadow: 1px 1px 3px #000000;
}

.App h2 {
  text-align: center;
  color: teal;
  font-size: 1.5em;
  text-shadow: 1px 1px 3px #000000;
}

.App #copyrights {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  position: absolute;
  bottom: 1vh;
}