.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  color: teal;
  font-size: 3em;
}

.App h2 {
  text-align: center;
  color: cadetblue;
}